*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav{
    position: fixed;
    background: rgb(0, 3, 5);
    width: 100%;
    padding: 10px 0;
    z-index: 2000;
  }
  nav .menu{
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  .menu .logo a{
    text-decoration: none;
    color:gold;
    font-size: 35px;
    font-weight: 600;
  }
  .menu ul{
    display: inline-flex;
    align-items: center;
  }
  .menu ul li{
    list-style: none;
    margin-left: 20px;
  }
  title{
      color: rgb(68, 128, 151);
      font-size: 100%;
  }
  .menu ul li:first-child{
    margin-left: 0px;
  }
  .menu ul li a{
    text-decoration: none;
    color: rgb(11, 223, 238);
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .menu ul li a:hover{
    background: gold;
    color: black;
  }
  content{
    max-width: 125px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

  }
  
  .content a{
   text-decoration: none;
    color: black;
    background: gold;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 20px ;
    border: 2px solid gold;
    border-radius: 30px;
    cursor: pointer;
  }
   
  .content  a:hover{
    background:rgb(7, 190, 214);
    border: 2px solid black;
    color: gold;
    transition: .4s ;

  }
  .container{
padding-top: 250px;
margin-left: 50px;
  }
  .container .hero-text{
margin-bottom: 20px;
  }
  .container .hero-text h2{
    color:hwb(51 0% 0%);
    font-size: 30px;
    font-weight: 900;
    line-height: 1.2;
    margin: 10px 0 10px ;
  }

  span{
    color: rgb(9, 17, 17);
  }
  .container .hero-text h3{
    color: rgb(10, 12, 12);
    font-weight: 400;
    font-size: large;
  }
  .container .hero-text p{
    width: 440px;
    color: rgb(10, 3, 3);
    font-size: 16px;
    max-width: 100%;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  button{
    color: black;
    background: gold;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 20px ;
    border: 2px solid gold;
    border-radius: 30px;
    cursor: pointer;
  }
  button:hover{
    background: black;
    border: 2px solid black;
    color: gold;
    transition: .4s ;
  }
  .right{
    min-height: 50vh;
    height: 50%;
    width: 50%;
    background-position: CENTER;
    background-size: COVER;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2 );
    align-items: center;
    grid-gap: 4rem;
  }

  



  


